<nav class="navbar navbar-expand-lg navbar-lms{% if navbar_solid %} navbar-solid{% endif %} sticky-top">
    <div class="container">
        <a class="navbar-brand navbar-brand-logo" href="{{ url_for('main.index') }}">LIBRARIA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMain">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navMain">
            <ul class="navbar-nav align-items-lg-center">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('main.index') }}">HOME</a></li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('books.list_books') }}">BOOKS</a></li>
                    {% if current_user.is_admin %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('books.manage_books') }}">MANAGE BOOKS</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('borrowings.all_borrowings') }}">RECORDS</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('admin.dashboard') }}">DASHBOARD</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('borrowings.my_borrowings') }}">MY BOOKS</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('user.dashboard') }}">DASHBOARD</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">LOGOUT</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">LOGIN</a></li>
                    <li class="nav-item">
                        <a class="btn btn-brand-outline btn-sm ms-lg-2" href="{{ url_for('auth.register') }}">REGISTER</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
